body, header, main, footer {
    margin:auto;
    margin-top: 0;
    margin-bottom: 0;
    padding:0;
}

body {
    max-width: 1280px;
    background-color: #f1f8fc;
}

.ol-home li{
    text-align: left;
    margin-bottom: 15px;
}

.basis {
    flex-basis: 33%;
}
.d-shadow {
    box-shadow: 0 4px 5px 0px rgba(0, 0, 0, 0.2);
}



.footer-pos {
    display: contents;
    position: sticky;
    bottom: 0;
    border-top: 2px solid grey;
    box-shadow: 0px -5px 5px 0px grey;
    max-width: 1280px;
    border-bottom: 2px solid red;

}

.div-minicard-size{
    display: contents;
}

/* Styles pour la superposition des suggestions de recherche */
.search-suggestions-dropdown {
    
    position: absolute; 
    top: 100%; 
    left: 0; 
    
    /* Styles esthétiques et fonctionnels */
    z-index: 1050; 
    width: 100%; 
    max-height: 200px; 
    overflow-y: auto;
    background-color: white; 
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.search-suggestions-dropdown .list-group-item {
    cursor: pointer;
}
