/* IMPORT */
@use "sass:color";

@font-face 
    font-family: 'graphik'
    src: url(/font/graphik.otf)

/* VARIABLE */
$alpha: 1
$max-width-site: 100%
$bg-color-site: #f1f8fc
$blue-color: #0074c7
$dark-blue-color: #00497c
$grey-color: rgb(56, 64, 80)
$grey-color-light:rgba(56, 64, 80,0.2)
$red-color: #cd2c2e 
$green-color: rgb(130, 184, 100)

/* GLOBAL STYLES */
body 
    font-family: 'graphik', sans-serif
    margin: 0 auto
    padding:0  
    max-width: 100%
    background-color: $bg-color-site

header
    border-bottom: 2px solid $grey-color-light
    
    header .Navbar
        max-width: 1280px

/* FOOTER */
footer
    background-color: $blue-color
    margin-top: 2rem
    margin-bottom: 0px

.footer-address
    color: $bg-color-site

.footer 
    margin: 0px
    padding: 0px
    background-color: $blue-color
    color: $bg-color-site
    .f-link
        color: $bg-color-site
    .f-link:hover
        color: $grey-color
        text-decoration: underline
        font-weight: 900
        
/* FIN FOOTER */

h2
    font-weight: 700
    color: $dark-blue-color
    margin-bottom: 2rem

/* HOME */   
.ol-home li
    text-align: left
    margin-bottom: 15px
    color: $grey-color

.ol-home li strong
    display: block
    color: $dark-blue-color

.basis 
    flex-basis: 33%

/* PAGE ARTISAN */
.artisan-titre
    color: $grey-color
    font-weight: 800

.artisan-info
    border-right: 1px solid $blue-color
    border-bottom: 1px solid $blue-color
    border-radius: 0 0 1rem 0

.artisan-description
    border-left: 1px solid $green-color
    border-bottom: 1px solid $green-color
    border-radius: 0 0 0 1rem

.form-btn
    background-color: $green-color
    color: $bg-color-site
    border: 1px solid $dark-blue-color

/* page not found */
.not-found-h2
    margin-bottom: 2rem

/* REACT COMPONENTS */
.layout
    margin: 0px
    padding: 0px
    min-height: 100vh
    display: flex
    flex-direction: column
    justify-content: space-between




/* REACT COMPONENTS */

/* SEARCH */
.search
    border:0
    border-bottom: 1px solid $blue-color
    border-right: 1px solid $blue-color
    border-radius: 0.5rem 0 0
    background-color: #ffffff


/* MINICARD */
.div-minicard-size
    display: contents

.minicard
    border: 2px solid $green-color
    box-shadow: 0 4px 5px 0px $grey-color
/* FIN MINICARD */

/* NAVLINK */
.navlink
    display: inline
    font-weight: 100
    &:hover
        font-weight: bold
        text-decoration: underline
    &--grey
        color: $grey-color
        &:hover
            color: $dark-blue-color
    &--white
        color: $bg-color-site
        &:hover
            color: $grey-color

/* FIN NAVLINK */

/* Styles pour la superposition des suggestions de recherche */
.search-suggestions-dropdown 
    
    position: absolute
    top: 100%
    left: 0
    
    /* Styles esthétiques et fonctionnels */
    z-index: 1050
    margin-top: 0.5rem
    padding: 1rem
    width: 100%
    max-height: 200px 
    overflow-y: auto
    background-color: white 
    border: 2px solid $green-color
    border-radius: 1rem 0 0 1rem
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)


.search-suggestions-dropdown .list-group-item 
    cursor: pointer

.notification
    z-index: 1500
    position: absolute
    top: 0px
    right: 0px
    border: 1px dotted $red-color
